RJ-Plugin/.settings/.clfcache/
RJ-Plugin/ttcn3build/
RJ-Plugin/build/RESTPlugin/de/
RJ-Plugin/ttcn3/AllExampleTestsuite.ttcn3
RJ-Plugin/ttcn3/DB_Fahrplan_Settings.ttcn3
.DS_Store
RJ-Plugin/.DS_Store
RJ-Plugin/clf/PetStoreExample.clf
RJ-Plugin/"C:/tmp/ssllog.log"
